:root {
    --body-font-size: 0.875rem;
    /* --color-canvas-default: #0d1117; */
    /* --color-fg-default: #e6edf3; */
}

body {
    font-family: 'Inter', sans-serif;
    font-size: var(--body-font-size, 14px);
    line-height: 1.5;
    color: '#1f1f1f';
    background-color: '#F8F9FB';
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.shadow-primary {
    box-shadow: 0 0 1px #0000000d, 0 2px 4px #00000014;
}

.shadow-secondary {
    box-shadow: 0px 0px 0px 1px rgba(9, 9, 9, 0.10);
}

#progress-bar {
    animation: swipe 1s;
}

.spin-invinite {
    animation: spin 4s linear infinite;
}

.show-hide-animation {
    animation: showHide 4s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}                     
    100% {transform: rotate(360deg);}
}

@keyframes showHide {
    0% {opacity: 1;}                  
    50% {opacity: 0.5;}                  
    100% {opacity: 1;}
}

@keyframes swipe {
    0%   {width: 20%;}
    25%  {width: 40%;}
    50%  {width: 60%;}
    100% {width: 80%;}
  }